body {
    font-family: 'Roboto', sans-serif; /* Menggunakan font Roboto, tambahkan link ke google font jika belum ada */
    background-color: #f8f9fa; /* Warna latar belakang lembut */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #495057; /* Warna teks default */
}

.container {
    background-color: #fff; /* Latar belakang putih untuk container */
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); /* Efek bayangan lembut */
    padding: 30px;
    width: 100%;
    max-width: 600px;
    transition: box-shadow 0.3s ease; /* Efek transisi saat hover */
}
.container:hover {
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}


h1, h2 {
    text-align: center;
    color: #343a40;
    margin-bottom: 20px;
}

.form-container{
  margin-bottom:30px;
}

.form-container input,
.form-container select {
    display: block;
    width: calc(100% - 22px);
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    box-sizing: border-box;
    transition: border-color 0.2s ease;
}

.form-container input:focus,
.form-container select:focus {
    border-color: #007bff; /* Warna border saat fokus */
    outline: none; /* Hilangkan outline default browser */
}


.form-container button {
    display: block;
    width: 35%;
    bottom: center;
    padding: 12px;
    background-color: #007bff; /* Warna tombol utama */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-weight: 500;
}

.form-container button:hover {
    background-color: #0056b3; /* Warna tombol saat hover */
    transform: translateY(-2px);
}
.form-container button:active {
    transform: translateY(0);
}

/* Style untuk ringkasan */
.summary-container {
    background-color: #f0f2f5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}
.summary-title {
    margin-top: 0;
    color: #2a55e0;
}

.summary-content {
    padding-left: 10px;
}

.summary-content p {
    margin: 8px 0;
    font-size: 1rem;
}

.summary-content p span {
    font-weight: 600;
    color: #2a55e0;
}

/* Style untuk tabel */
.table-responsive {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #dee2e6;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #e9ecef;
    font-weight: 500;
    color: #04172b;
}


/* Responsive styles */
@media (max-width: 600px) {
    .container {
        width: 95%;
        padding: 20px;
    }
    .form-container input,
    .form-container select {
        width: calc(100% - 12px);
        padding: 10px;
        margin-bottom:10px;
    }
    .form-container button {
      padding:10px;
    }
    table {
        font-size: 0.9em;
    }
}
